<div class="columns">
<div class="column is-one-quarter">
<div class="box">
<!-- Form Name -->

<%= simple_form_for :search, url: "/flights", method: :get do |f| %>

<legend>Search for a flight:</legend>

<!-- Select Basic -->
<div class="field">
  <label class="label" for="selectbasic-0">Departure flight</label>
  <div class="control">
  	<div class="select">
	    <select id="selectbasic-0" name="origin_id" class="">
            <%= @flights_origins.each do |origin| %>
	            <option value= <%= origin[1] %> ><%= origin[0] %></option>
            <% end %>
	    </select>
	</div>
  </div>
</div>

<!-- Select Basic -->
<div class="field">
  <label class="label" for="selectbasic-2">Arrival flight</label>
  <div class="control">
  	<div class="select">
	    <select id="selectbasic-2" name="destination_id" class="">
        <%= @flights_destinations.each do |destination| %>
            <option value= <%= destination[1] %> ><%= destination[0] %></option>
        <% end %>
	    </select>
	</div>
  </div>
</div>

<!-- Select Basic -->
<div class="field">
  <label class="label" for="selectbasic-2">Select date of flight</label>
  <div class="control">
  	<div class="select">
	    <select id="selectbasic-2" name="departure_date" class="">
        <%= @flights_dates.each do |date| %>
            <option value= <%= date[0] %> ><%= date[0] %></option>
        <% end %>
	    </select>
	</div>
  </div>
</div>

<!-- Button -->
<div class="field">
  <div class="control">
  <%= f.button :submit, 'Search', class: "button is-success is-outlined" %>
  </div>
</div>

<% end %>
</div>
</div>
</div>



