<h2> Search for a flight: </h2>

<%= simple_form_for :lookup, url: root_path, method: 'GET' do |form| %>
    <p>
        <%= form.input :origin_id, 
        :collection => @flights_origins, 
        :include_blank => false, 
        :label => 'Departure flight:' %>
    </p>
    <p>
        <%= form.input :destination_id, 
        :collection => @flights_destinations, 
        :include_blank => false, 
        :label => 'Arrival flight:' %>
    </p>
    <p>
        <%= form.input :departure_date, 
        :collection => @flights_dates, 
        :include_blank => false,
        :label => 'Date of flight:' %>
    </p>
    <p>
        <%= form.submit %>
    </p>
<% end %>


