<h3>Name of flight: <%= @booking_flight_name[0] %></h3>
<p>Date of flight: <%= @booking_flight_date[0] %></p>
<p>Flight origin airport: <%= @booking_flight_origin[0] %></p>
<p>Flight destination airport: <%= @booking_flight_destination[0] %></p>
<p>ID number of flight: <%= @booking_flight_id[0] %></p>