<%= form_with model: @booking do |form| %>
    Fill out passenger info:
    <ul>
        <%= form.fields_for :passengers do |passengers_form| %>
            <li>
                <%= passengers_form.label :passenger_name %>
                <%= passengers_form.text_field :passenger_name %>
                <%= passengers_form.label :passenger_email %>
                <%= passengers_form.text_field :passenger_email %>
            </li>
        <% end %>
    </ul>
    <%= form.submit %>
<% end %>