<%= form_with url:'/bookings', model: @booking, local:true do |form| %>
    <%= form.hidden_field :flight_id, value: @flight_id %>
    <h1 class="is-size-4">Fill out passenger info:</h1>
    <ul>
        <%= form.fields_for :passengers do |passengers_form| %>
            <%= passengers_form.hidden_field :id, value:nil %>
            <li>
                <%= passengers_form.label :name %>
                <%= passengers_form.text_field :name %>
                <%= passengers_form.label :email %>
                <%= passengers_form.text_field :email %>
            </li>
        <% end %>
    </ul>
    <button type="submit" class="button is-outlined" style="margin-top:10px">Confirm your booking</button>
<% end %>

