<!DOCTYPE html>
<html>
  <head>
    <title>FlightProjectTop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <nav class="navbar has-background-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand has-text-link-white">
    <a class="navbar-item" href="#">
      <nav class="breadcrumb" aria-label="breadcrumbs">
  	<ul>
    		<li><a href="/bookings"><h1 class="is-size-4 has-text-white">Bookings</h1></a></li>
    		<li><a href="/"><h1 class="is-size-4 has-text-white">Search flights</h1></a></li>
  	</ul>
      </nav>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>

  <body>
    <%= yield %>
  </body>
</html>
